.btn-primary{
    color: #fff;
    background-color: #43bfa6;
    border-color: #43bfa6;
}

.btn-primary:hover{
    color: #fff;
    background-color: #43bfa6;
    border-color: #43bfa6;
}

a{
    color: white;
}

a:hover{
    color: white;
}